.placeholder-animation::placeholder {
    animation: slideLeft 1.5s infinite alternate;
  }
  
  @keyframes slideLeft {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-10px);
    }
  }
  