body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


form {
    margin: 0;
}

label {
    display: block;
    margin-bottom: 5px;
}



button {
    background-color: #2d2062;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover{
    background-color: #e5ce00;
}
